@model eksp.Models.Company

@{
    ViewBag.Title = "Company";
}

<h2>Details</h2>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.ImageData)
        </dt>*@
        @if (Model.ImageData?.Length > 0)
        {
            <dd>

                <img src="data:image/png;base64,@Model.ImageBase64" />

                @*@Html.DisplayFor(model => model.ImageData)*@
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyPostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyPostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAId)
        </dd>

        <dd>
            <p> @Html.ActionLink("Update profile", "Edit", "Companies", new { id = Model.CompanyId }, new { @class = "btn btn-default btn-lg" })</p>
        </dd>
        @*<dd>

                @Html.ActionLink("Edit", "Edit", new { id =d) }) |
                @Html.ActionLink("Details", "Details", new { id = item.CompanyId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CompanyId })
            </dd>*@
    </dl>
</div>
